@import "bourbon";

@font-face {
  font-family: 'Tulpen One';
  src: url('/static/TulpenOne-Regular.ttf');
}

.mon {
  background: #e51400;
}

.tue {
  background: #996600;
}

.wed {
  background: #f09609;
}

.thu {
  background: #8cbf26;
}

.fri {
  background: #00aba9;
}

.sat {
  background: #a200ff;
}

.sun {
  background: #ff0097;
}

.container {
  overflow: hidden;
}

.cards {
  list-style: none;
  margin: -2px 0 0 -2px;
  padding: 0;
  @include clearfix();

  @for $i from 1 through 8 {
    @media (min-width: #{if($i == 1, 0, $i)*300}px) and (max-width: #{($i+1)*300}px) {
      .card {
        width: #{100/($i+1)}%;

        &.x2 {
          width: #{200/($i+1)}%;
          margin-bottom: -1px;
        }
        .more {
          font-size: #{24/($i+1)}vw;
        }
        .date {
          h1 {
            font-size: #{100/($i+1)}vw;
          }
          h2 {
            font-size: #{12/($i+1)}vw;
          }
        }
      }
    }
  }

  line-height: 0;
  font-size: 0;

  .card {
    box-sizing: border-box;
    border: 1px solid #fff;
    margin: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &.x2-right {
      float: right;
      clear: right;
    }
    &.x2-left {
      float: left;
      clear: left;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }

    img.foreground {
      position: absolute;
      left: 0;
      top: 0;
    }

    img.background {
      visibility: hidden;
    }

    .date {
      cursor: auto;
      position: absolute;
      color: #fff;

      h1, h2 {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        font-family: 'Tulpen One', sans-serif;
      }
      h1 {
        line-height: 0.75;
        font-weight: lighter;
      }
      h2 {
        text-transform: uppercase;
        //font-size: 3vw;
      }
    }
  }
}